@using PagedList;
@using PagedList.Mvc;
@using MobileShop.Models.DTO
@model HomeDTO

<div class="row" style="margin-right: 15px; margin-left: 10px;">
    <div class="col-sm-2">
        @Html.Partial("_SearchAndFilters", Model.Drops)
    </div>
    <div class="col-sm-10">
        @foreach (var m in Model.Mobiles)
        {
          @Html.Partial("_Card", m)      
        }
    </div>
</div>
<div class="row" style="margin-right: 15px; margin-left: 10px; text-align: center;">
    @Html.PagedListPager(Model.Mobiles, page => Url.Action("Index", new { page }))
</div>