@{if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Auth", FormMethod.Get, new { id = "logoutForm", @class = "navbar-right", style = "color: #FF7417; font-size: medium;" }))
        {
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "color: #FF7417; font-size: medium;" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color: #FF7417; font-size: medium;">Log off</a></li>
    </ul>
        }
    }
    else
    {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Auth", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color: #FF7417; font-size: medium;" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Auth", routeValues: null, htmlAttributes: new { id = "loginLink", style = "color: #FF7417; font-size: medium;" })</li>
    </ul>
        }
    }