@if (Request.Cookies["Role"] != null && Request.Cookies["Role"].Value == "ADMIN")
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="ListsDropDown" data-toggle="dropdown" style="color: #FF7417; font-size: medium" aria-haspopup="true" aria-expanded="false">
            Management
        </a>
        <div class="dropdown-menu" style="background-color: #333; width: auto;">
            <div style="padding: 10px;">
                @Html.ActionLink("Shop info", "Info", "Shop", routeValues: null, htmlAttributes: new { style = "color: #FF7417; font-size: medium;" })
            </div>
            <div style="padding: 10px;">
                @Html.ActionLink("Manage admins", "Manage", "Account", routeValues: null, htmlAttributes: new { style = "color: #FF7417; font-size: medium;" })
            </div>
            <div style="padding: 10px;">
                @Html.ActionLink("Manage mobiles", "Manage", "Mobile", routeValues: null, htmlAttributes: new { style = "color: #FF7417; font-size: medium;" })
            </div>
            <div style="padding: 10px;">
                @Html.ActionLink("Add mobile to shop", "All", "Mobile", routeValues: null, htmlAttributes: new { style = "color: #FF7417; font-size: medium;" })
            </div>
        </div>
    </li>
}
