@model MobileShop.Models.LoginDTO
@{
    ViewBag.Title = "View";
}

@Styles.Render("~/Content/Login/Login.css")

@{ if(Request.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }

}

<div class="col-sm-4"></div>
<div class="login col-sm-4" style="text-align: center;">
    <div style="margin: 50px"></div>
    @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "login-form" }))
    {
        <div>
            <span class="fontawesome-user form-span"></span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-input", id = "Email", placeholder = "Email" })
        </div>
        <div>
            <span class="fontawesome-lock form-span"></span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-input", id = "Password", placeholder = "Password" })
        </div>
        <div>
            <input type="submit" value="Log in" class="submit-button" />
            <p style="padding: 10px;">
                @Html.ActionLink("Register as a new user", "Register")
            </p>
        </div>

    }
</div>
